# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    app.brochure_uploader:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    app.file_uploader_constancia:
        class: BackendBundle\FileUploader
        arguments: ['%atletas_constancia_directory%']
        
    twig.extension:
        # Register the class (The namespace must match)
        class: BackendBundle\Extensions\TwigExtensions
        # Inject doctrine as first parameter
        arguments: 
            doctrine : '@doctrine'
        tags:
          -  { name: twig.extension }
          
    app.form.registration:
        class: AutenticacionBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: autenticacion_registration }