{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h2 class="tituloAzulado">Recupera tu cuenta</h2><!--tituloAzulado-->
    <div class="cuadro uno cuadroError"><p>{{ 'resetting.password_already_requested'|trans }}</p></div>
{% endblock fos_user_content %}
